@media all and (max-width: 768px){
    * {
        text-align: center;
    }
    .wrap__close {
        right: 12px;
        top: 15px;
    }

    .wrap {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .baner {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo {
        padding-top: 15px;
        flex-basis: auto;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 0;
    }

    .card-item__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .card-item__h2{
        padding: 12px 0 0 0;
    }

    .card-item__info {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    .program-box {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .program-box__circle {
        margin-bottom: 20px;
    }

    .spend-bonus-content {
        flex-direction: column;
    }

    .program-list__item {
        flex-wrap: wrap;
        justify-content: center;
    }

    .program-list__item_margin-bottom {
        margin-bottom: 40px;
    }
    .program-list__item_number-circle::before {
        margin-right: 0;
        margin-bottom: 40px;
    }

}

@media all and (max-width: 320px){

}

